Debug
NodeFlags.dat
MemoryUtilizationReport.xml
traceprefs.xml
312be52d-4e0f-4ecf-b1f3-4d24e42b9622.vsidx
.suo
Browse.VC.db
Browse.VC.db-shm
Browse.VC.db-wal
Browse.VC.opendb
DocumentLayout.backup.json
DocumentLayout.json
/.vs/USBPDH563/FileContentIndex
TraceReports
/.vs/USBPDH563/v17
/.visualgdb/CodeDB
